body{
    background-color: #000000 !important;
}
.BGB{
    background-color: #000000;
}
.icon{
    width: 50px;
}
.iconm{
    width: 45px;
}
ul.list{
    list-style-type: none !important;
}
.btn{
    width: 400px;
}
ul.list2{
    list-style-type: none !important;
}
.Button a{
    transition: 0.6s ease;
}
.btn:hover{
    background: rgb(132, 134, 134) !important;
}
.butn{
    width: 25px !important;
}